.portfolio{
    /* height: calc(100vh); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

}
.portimg{
    object-fit: cover;
    height: 30rem;
    width: 25rem;
    margin: .5rem;
    filter:grayscale();
    overflow: hidden;
    /* border-radius: 1rem; */
} 
.portimg:hover{
    
    filter: grayscale(0);
    scale: .9;
    transition: 1s;
}

h1{
    padding: 1rem;
}