@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@200&family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@200&family=Poppins:ital,wght@0,200;0,300;0,400;1,400&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@200&family=Poppins:ital,wght@0,200;0,300;0,400;1,400&family=Rubik+Doodle+Shadow&family=Satisfy&display=swap');
.containt {
    height: calc(100%);
    display: flex;
    /* background-image: linear-gradient(90deg, #252525dd 0%, #ffffff 100%); */
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: rgb(242, 242, 242);
}

.first{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Rubik Doodle Shadow', system-ui;
}

.second {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
}

.third {
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;

}

.forth {}

.img {
    object-fit: cover;
    /* height: 80rem; */
    max-height: 50rem;
    /* filter: grayscale(90%); */
    overflow: hidden;
}
.ContaintText{
    margin: 50px;
}
a{
    text-decoration: none;
}
.logoimg{
    height: 2rem;
    margin:20px 5px;
    
}