@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


.main{
    background-color: #e7e7e7;
    padding: 15px;
}
.Contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 20px; */
    width: 40%;
}
.form2{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
input,textarea{
    width: 550px;
    height: 35px;
    /* margin: 5px; */
    padding: 5px;
    background: none;
    outline: none;
    border-radius: 7px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
}
textarea{
    width: 550px;

    height: 400px;
}
.btn{
    width: 550px;

    height: 35px;
    /* margin: 10px; */
    background: #E52777;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;


}
/* .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15% 0;
} */
/* .link a img{
    width: 40px;
    margin: 5px;
   
} */
.one{
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.logo{
    height: 3.5rem;
    margin-right: 10px;
    /* padding: 5px; */
box-shadow: 5px 5px 10px -2px rgb(80, 80, 80);
border-radius: 50%;
}
.logop{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3rem;
}
@media (max-width: 950px) {
    
    .Contact{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        
    }
    input,textarea{
        width: 180%;
    }
    .btn{
        width: 300px;
    }
}