 .navbar{
    /* height: 4rem; */
    width: 100vw;
    margin: 0 auto;
    padding: 10px;
    padding: 1 rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 5;
    background-color: rgba(13, 13, 13, 0.566);
    color: rgba(255, 255, 255, 0.899);
    
}


.loloImg{
    object-fit: cover;
    width:10rem;
}
.navItems{
    z-index: 1;
    margin: 1rem;
    font-weight:800;
    cursor: pointer;
    
}
.navItems:hover{
    color: rgb(176, 176, 176);
    border-bottom: 2px solid rgb(176, 176, 176);


} 

.btn{
    background: white;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 900;
}

  .hamburger-menu{
    display: none;
  } 
  /* Media query for screens smaller than 768px (typical mobile size) */
  @media (max-width: 800px) {
    .hamburger-menu{
      
      display: flex;
      
        
    }
    .logo{
      width: 100%;
      display: flex;
      
    }
    .navItm {
    display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 1rem 0.5rem;
    }
    .navItm.show {
      display: flex;
      
    }
  
    .navItems {
      padding-right: 50px ;
      width: 100%;
      align-items: center;
    }
  
  
    .loloImg {
        object-fit: cover;
        width:7rem;
       
       
    }
    .navbar{
      display: flex;
      /* flex-direction: column; */
        align-items: flex-start;
        /* justify-content: center; */
    }

    
  }
  